@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(255, 0, 0, 0.308),rgba(255, 255, 0, 0.374));
}
.container{
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    width: 800px;
    background-color: #96139b;
    color: white;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 0 10px black;
}